.bg-navy {
    background-color: navy;
}

.btn-color {
    background-color: rgb(231, 61, 61);
}

.btn-color:hover {
    background-color: rgb(231, 61, 61);
}

.text-color {
    color: white;
}

.fontType {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
}

.btn-hover1:hover {
    background-color: rgb(12, 12, 11);
    transition: 0.5;
}

.btn-hover2:hover {
    background-color: rgb(255, 6, 6);
    transition: 0.5;
}

/* image for index page of MLB logo */
.img-adj {
    max-width: 20%;
    float: right;
    height: auto;
    margin-top: 0px;
    padding-bottom: 5%;
    position: relative;
    top: -65px;

}

/* image for search result page of MLB logo */
.img-adj2 {
    max-width: 25%;
    height: auto;
}