.bg_navy{
    background-color: navy;
}

.btn-color{
    background-color: rgb(231, 61, 61);
}

.btn-color:hover{
    background-color: rgb(231, 61, 61);
}

.text-color{
    color: white;
}

.fontType{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* .btn-hover:hover{
    background-color: rgb(227, 227, 110);
    transition: 0.5;
} */